.agenda-carousel {
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;

    .agenda-carousel-title{
        padding: 1rem;
    }
    .carousel-container{
        padding: 0px 6vw;
    }

    .agenda-item {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 12px;
        cursor: grab;
    }

    .agenda-item-thumbnail {
        width: 100%;
        padding-top: 56.25%;
        position: relative;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            pointer-events: none;
            object-fit: cover;
        }
    }

    .agenda-item-times {
        margin: 12px;
    }

    .agenda-item-details {
        display: flex;
        flex-direction: column;
        margin: 12px;
        .agenda-item-title{
            font-size: 1.2rem;
            text-align: center;
            font-weight: 400;
            text-decoration: none;
            a{
                text-decoration: none;
            }
        }
    }
    .agenda-item-tags{
        display: none;
    }
    .agenda-item-presenters{
        display: none;
    }
    .ca-button{
        margin: 0 !important;
    }
    .glide__arrows{
        position: absolute;
        width: 100%;
        height: 0px;
        top: 50%;
        left: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .glide__arrow {
            position: relative;
            border: none;
            border-radius: none;
            filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
            box-shadow: none;
            top: unset;
            left: unset;
            right: unset;
            transform: none;
            transition: 300ms;
            @include until($desktop){
                padding: 0px;
            }
    
            span {
                font-size: 64px;
                @include until($desktop){
                    font-size: 42px;
                }
            }

            &:hover{
                color: var(--primary);
                background: transparent;
            }
        }
    }

    .glide__bullets {
        position: relative;
        display: flex;
        bottom: 0rem;
        justify-content: center;
        .glide__bullet{
            background-color: var(--medium);
            &.glide__bullet--active {
                background-color: var(--primary);
            }
            &:hover, &:focus {
                border: 2px solid var(--primary);
                background-color: var(--medium);
            }
        }
    }

    .agenda-page-btn-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }
}