@import "../../Sass/streamgo/variables.scss";
@import "../default/animations.scss";

$presenterItemHeight: 58px;

.agenda-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 4rem;

	.agenda-list__title {
		padding: 1rem;
	}

	li {
		list-style: none;
	}

	.agenda-date-divider {
		display: none;
		position: relative;

		&.show {
			display: inline-flex;
			width: fit-content;
			margin: 2rem 0rem;
			left: -1rem;
			
			.content {
				display: inline-flex;
				padding: 0.3rem 1rem;
				background-color: var(--light);
				width: fit-content;
				color: var(--medium);
				font-size: 0.8rem;
				border-radius: 99px;
				left: -50%;
			}
			@include until($desktop){
				margin: 1rem 0rem;
				.content{
					left: 2rem;
				}
			}
		}
	}

	.items {
		max-width: 1080px;
		margin: auto;
		width: 60%;
		border-left: 2px dashed var(--light);
		display: flex;
		flex-direction: column;
		padding: 0;

		.agenda-item {
			display: flex;
			flex-direction: column;
			max-width: 100%;
			width: 100%;
			padding: 1rem;

			&.filter-hide{
				display: none !important;
			}
			
			&:first-of-type .agenda-date-divider{
				margin-top: 0rem;
			}

			.agenda-item-times {
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-end;
				position: absolute;
				right: calc(100% + 2rem);

				.agenda-item-time {
					width: max-content;
					margin-bottom: 1rem;
					padding: 0.5rem;
					background-color: var(--light);
					color: var(--font);
					display: inline-flex;
					position: relative;
					border-radius: 0.5rem;
					height: fit-content;
					&.agenda-item-time__now {
						background-color: var(--danger);
						color: #fff;
						font-weight: bold;
						animation-name: liveNow;
						animation-timing-function: ease;
						animation-duration: 1s;
						animation-iteration-count: infinite;
						animation-direction: alternate;
					}
				}

				.dot {
					width: 12px;
					height: 12px;
					background-color: var(--light);
					border-radius: 99px;
					position: absolute;
					right: -21px;
					top: 12px;
				}
			}

			.agenda-item-details {
				width: 100%;
				text-decoration: none;
				margin: 0rem;
				padding: 2rem;
				background-color: var(--bg-color-tint);
				color: var(--font);
				border-radius: 0.5rem;
				box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
				z-index: 0;
				display: flex;
				flex-direction: column;
				flex-grow: 1;

				.agenda-item-title {
					transition: 500ms;
					margin-bottom: 1rem;
					color: var(--primary);
					text-decoration: none;
					font-weight: 400;
					a{
						text-decoration: none;
					}
				}

				.agenda-item-presenters {
					display: grid;
					grid-template-columns: 50% 50%;
					gap: 0.5rem;
					width: 100%;
					margin-bottom: 1rem;

					.agenda-item-presenter {
						width: 100%;
						.js-presenter-bio-trigger {
							display: flex;
							flex-direction: row;
							height: fit-content;
							align-items: center;
							justify-content: flex-start;
							border-radius: 0.5rem;
							background-color: var(--light);
						}

						.agenda-item-presenter-image {
							width: $presenterItemHeight;
							height: $presenterItemHeight;
							object-fit: contain;
							object-position: center;
							border-radius: 0.5rem 0 0 0.5rem;
						}

						.agenda-item-presenter-details {
							display: flex;
							color: var(--light-contrast);
							flex-direction: column;
							height: fit-content;
							min-height: $presenterItemHeight;
							width: calc(100% - 60px);
							padding: 0 0.5rem;
							justify-content: center;
							align-items: flex-start;

							.agenda-item-presenter-name {
								font-weight: bold;
							}
							.agenda-item-presenter-name,
							.agenda-item-presenter-title,
							.agenda-item-presenter-company {
								white-space: nowrap;
								overflow-x: hidden;
								overflow-y: visible;
								text-overflow: ellipsis;
								max-width: 100%;
								display: block;
							}
							.agenda-item-presenter-title{
								display: none;
							}
						}
					}
				}

				.presenter-details__bio {
					display: none;
				}

				.ca-add {
					display: inline-flex;
					width: fit-content;
					flex-direction: row;
					align-items: center;
					text-decoration: none;
					transition: 500ms;
					background-color: #ccc;
					padding: 6px 12px;
					border-radius: 0.25rem;
					color: white;

					&:hover {
						background-color: #999;
					}
				}
			}

		}

		@include until($desktop) {
			border: none;
			width: 100%;
			.agenda-item {
				.agenda-item-times {
					display: flex;
					flex-direction: row-reverse;
					justify-content: flex-end;
					position: relative;
					right: unset;
					.dot {
						display: none;
					}
				}
			}
		}

		@include until($tablet) {
			.agenda-item {
				.agenda-item-details {
					.agenda-item-presenters {
						grid-template-columns: 100%;
					}
				}
			}
		}
	}

	.agenda-filter-container{
		.tags{
			margin-bottom: 2rem;
			gap: 1rem;
			.agenda-filter-title{
				margin: 0;
			}
			.tag{
				background-color: var(--light);
				color: var(--light-contrast);
				text-transform: capitalize;
				font-size: 1rem;
				margin: 0;
				cursor: pointer;
				.checked-icon{
					display: none;
					font-size: 1.2rem;
				}
				&.active{
					background-color: var(--primary);
					color: var(--primary-contrast);
					.checked-icon{
						display: unset;
					}
				}
			}
		}
	}
}

.columns .column:last-of-type:not(:first-of-type) .agenda-item-presenters {
	.agenda-item-presenter {
		flex-grow: 1;

		.agenda-item-presenter-details {
			width: 100%;
		}
	}
}
