.banner {
    background-position: center;
    background-size: cover;
    margin-bottom: 2rem;
    background-color: var(--primary);
    overflow: hidden;
    z-index: 0;

    .banner__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        background-color: var(--primary-light);
    }

    .inner {
        padding: 1rem;
        padding-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 30vh;
        width: 100%;
        z-index: 9;
        position: relative;
        color: var(--primary-contrast);

        * {
            color: inherit;
        }

        .details{
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .banner__login {
            position: relative;
            display: inline-flex;
            width: fit-content;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            align-self: start;
            justify-self: end;
            margin: 0px;
            padding: 0px;

            @media screen and (max-width: 960px) {
                justify-self: center;
                align-self: center;
            }

            .button {
                margin-left: 1rem;
            }
        }

        .banner__title {
            h1 {
                font-size: min(64px, 10vw);
                font-weight: 300;
                margin-bottom: 1rem;
                color: var(--primary-contrast);
            }

            .banner__sponsor-logo {
                max-width: 40vw;
                max-height: 120px;
                object-fit: contain;
            }

            .banner__sponsor-title {
                display: none;
            }
        }

        .banner-tags{
            display: none;
        }

        .banner__poster-wrapper {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            .banner__poster-title {
                max-width: 500px;
                width: 100%;
                font-size: 2rem;
                font-weight: 400;
            }
            .banner__poster-img {
                width: 100%;
                max-width: 400px;
                height: 25vh;
                object-fit: contain;
            }
            .banner__poster-img__link{
                .overlay {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    top: 0;
                    left: 0;
                    background: rgba(00,0,0,0.8);
                    color: #fff;
                    opacity: 0;
                    transition: 300ms;
                }
                &:hover{
                    .overlay{
                        opacity: 1;
                    }
                }
            }

            @include until($desktop){
                flex-direction: column;
            }
        }
    }

    .title {
        text-align: left;

        @media screen and (max-width: 800px) {
            text-align: center;
        }
    }

    .banner__border {
        z-index: 99;

        svg {
            width: 100%;
            height: 100%;

            path:first-of-type {
                opacity: 0.1;
            }

            path:nth-child(2) {
                opacity: 0.12;
            }

            path:nth-child(3) {
                opacity: 0.18;
            }

            path:nth-child(4) {
                opacity: 0.33;
            }
        }
    }

    &.no-border {
        .inner {
            padding: 1rem;
        }

        .banner__border {
            display: none;
        }
    }

    &.no-bg {
        .banner__login {
            .button {
                background-color: var(--light);
                color: var(--light-contrast);
            }
        }
    }

    &.custom-bg {
        .banner__overlay {
            opacity: 0.7;
        }
    }

    .countdown {
        left: -8px;
    }

    @include until($desktop) {
        .inner {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 20vh;
            padding-top: 5vh;

            .details {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .banner__login {
                align-self: center;
                margin-top: 2rem;
            }
        }

        .nectar-shape-divider-wrap {
            height: 5vh !important;
        }
    }
}

body.isEvent {
    #banner .inner {
        padding-top: 4rem;
        min-height: 0rem;

        .banner__title h1 {
            font-size: 2rem;
        }
    }
}