.sgBreakoutroom_card{
    box-sizing: border-box;
    box-shadow: 0px 0px 12px #ddd;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 25%;
    border-radius: 6px;
    justify-content: center;
}
.sgBreakoutroom_cover{
    text-align: center;
    margin-bottom: 1.5rem;
}
@media only screen and (max-width: 600px) {
    .sgBreakoutroom_card{
        width: 100%;
    }
}
.round-table-table-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}