.calendar-buttons{
    padding: 1rem;
    gap: 0.5rem;
    .grid{
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    i{
        margin-right: 4px;
    }
}