.chatgo-embed-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	margin-top: 1rem;
}

.chatgo-iframe {
	box-shadow: 0px 0px 12px var(--light);
	border-radius: 0.5rem;
}