.test-connection-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	padding: 1rem;
	.error-message {
		padding: 2rem;
		border-radius: 0.5rem;
		button {
			padding: 1rem;
			border-radius: 0.2rem;
			cursor: pointer;
		}
	}
	.player-container {
		width: 100%;
		margin: auto;
	}
}

#test-connection-round-table {
	margin: 1rem;
	.test-connection-round-table-iframe {
		width: 100%;
		height: 400px;
		margin-top: 1rem;
		border: 0;
		border-radius: 0.5rem;
	}
}
