.cpd-container {
	padding: 1rem;
	.cpd-desc {
		margin-bottom: 2rem;
	}
	.summary {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: 2rem;
		.summary__header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 1rem 0rem;
			width: 100%;
			.title {
				margin: 0;
				padding: 0;
				font-size: 1.3rem;
				color: var(--primary);
				font-weight: normal;
			}
			button.certificate-refresh {
				border: 0px;
				background-color: var(--primary);
				color: var(--primary-contrast);
				display: inline-flex;
				padding: 0.5rem 1rem;
				justify-content: center;
				align-items: center;
				border-radius: 99px;
				cursor: pointer;
				transition: 300ms;
				span {
					transform-origin: center;
					transition: 300ms;
				}
				&:hover {
					background-color: var(--primary-shade);
					color: var(--white);
					span {
						transform: rotate(270deg);
					}
				}
			}
		}
		.summary__details {
			padding: 1rem;
			background-color: var(--light);
			color: var(--font);
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			border-radius: 0.5rem;
		}
	}

	.event-progress-list {
		list-style: none;
		border-radius: 0.5rem;
		background-color: var(--light);
		padding: 0.5rem;
		box-shadow: inset 0px 0px 12px var(--light-shade);
		.cdn-item {
			padding: 1rem;
			background-color: var(--bg-color);
			display: flex;
			width: 100%;
			flex-direction: row;
			border-radius: 0.25rem;
			margin-bottom: 0.5rem;
			box-shadow: 0px 0px 6px var(--light-shade);
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;

			&:last-of-type {
				margin-bottom: 0;
			}
			.name {
				width: 30%;
				a {
					width: 100%;
					text-decoration: none;
					overflow: hidden;
					text-overflow: ellipsis;
					&:hover:not(p) {
						color: var(--primary-shade);
					}
				}
			}
			.length,
			.status,
			.viewed,
			.cpd-poll {
				width: 10%;
			}
			.viewed p {
				display: flex;
				flex-direction: column;
			}
			.certificate-link {
				display: flex;
				width: 16%;
				align-self: flex-end;
				margin-left: auto;
				&.completed {
					background-color: var(--success);
					color: white;
					border: none;
				}
			}
			&.item-header {
				background-color: var(--light);
				padding: 0.7rem 1rem;
				border: 1px solid var(--light-tint);
				border-bottom-color: var(--light-shade);
			}
			.col {
				&:last-child {
					margin-left: auto;
				}
				.col__label {
					display: none;
				}
			}
			.expand-polls-button {
				padding: 0.5rem;
				outline: none;
				border: none;
				background-color: var(--secondary);
				border-radius: 0.2rem;
				margin-top: 0.5rem;
				cursor: pointer;
				@include until($desktop) {
					margin-top: 0rem;
				}
			}
			.poll-container-row {
				width: 100%;
				padding: 1rem;
				background-color: var(--light);
				margin: 1rem 0rem;
				border-radius: 0.25rem;
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				gap: 1rem;
				.poll-container-item {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: flex-start;
					div,
					h4 {
						width: 100%;
						margin: 0;
						label {
							display: none;
						}
					}
				}
				&.hide {
					display: none;
				}

				@include until($desktop) {
					background-color: var(--bg-color);
					gap: 3rem;
					.poll-container-header {
						display: none;
					}
					.poll-container-item {
						flex-direction: column;
						padding-bottom: 1rem;
						border-bottom: 1px dashed var(--light);
						gap: 0.5rem;
						div {
							display: flex;
							flex-direction: row;
							align-items: center;
							gap: 0.5rem;
							label {
								display: block;
								width: 30%;
								color: var(--font-shade);
								text-transform: uppercase;
								font-size: 0.8rem;
							}
							p,
							svg {
								margin-left: auto;
							}
							.retake-poll {
								width: 100%;
							}
						}
					}
				}
			}
		}
		svg {
			width: 2rem;
		}
	}

	@include until($desktop) {
		.summary {
			.summary__details {
				flex-direction: column;
				gap: 2rem;
			}
		}
		.event-progress-list {
			background-color: transparent;
			box-shadow: none;
			padding: 0px;
			.cdn-item {
				position: relative;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				background-color: var(--light);
				border-radius: 1rem;
				box-shadow: none;
				margin-bottom: 1rem;
				.col {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 0.5rem 0rem;
					.col__label {
						display: inline-flex;
						color: var(--medium);
					}
				}
				.name {
					max-width: calc(80%);
					margin-bottom: 1rem;
					margin-right: auto;
				}
				.status {
					position: absolute;
					top: 1rem;
					right: 1rem;
					width: fit-content;
				}
				.certificate-link {
					text-align: center;
					align-items: center;
					justify-content: center;
				}

				&.item-header {
					display: none !important;
				}
			}
		}
	}
}
