.content-video {
    .content-video__title {
        padding: 20px 0;
    }
    .videoGoPlayer {
        iframe {
            border: none;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .content-video {
        padding: 20px;
    }
}