.content-chapters {
	.content-chapters__title {
		margin: 30px 0;
	}
	.content-chapters__list {
		max-width: 500px;
		max-height: 50vh;
		overflow: auto;
		padding: 12px;
		background: var(--light);
		box-shadow: inset 0px 0px 12px #ccc;
		border-radius: 12px;
		border: 1px solid var(--light);
	}

	// entire time and link items
	li.content-chapters__item {
		display: flex;
		background-color: white;
		list-style: none;
		width: 100%;
		min-height: 40px;
		margin-bottom: 12px;
		border-radius: 5px;
		box-shadow: 1px 1px 8px 1px rgba(100, 100, 100, 0.2);

		// link section
		a.chapter-link {
			text-decoration: none;
			display: flex;
			width: 100%;

			// time section
			span.chapter-time {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: var(--light-shade);
				color: var(--light-contrast);
				min-width: 20%;
				min-height: 100%;
				border-radius: 5px 0 0 5px;
			}

			span.chapter-name {
				display: flex;
				color: var(--bg-color-contrast);
				align-items: center;
				padding: 12px;
				text-decoration: none;
			}

			&:hover {
				span.chapter-name {
					color: var(--primary-shade);
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.content-chapters {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
