$itemHeight: 144px;
.content_posters_container {
	.poster_title {
		padding: 1rem;
	}
	.posters-container{
		&.hide{
			display: none;
		}
	}
	.posters {
		display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		margin-bottom: 2rem;
		
		.poster_item {
			background-color: transparent;
			width: 100%;
			height: 100%;
			min-width: min(300px, 100%);
			min-height: $itemHeight;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			text-align: center;
			padding: 1rem;
			&.hide{
				display: none;
			}

			.poster_item_link {
				width: 100%;
				height: 100%;
				
				a {
					display: flex;
					flex-direction: column;
					width: 100%;
					height: 100%;
					min-height: fit-content;
					padding: 1rem;
					flex-shrink: 0;
					flex-grow: 0;
					justify-content: center;
					align-items: center;
					text-decoration: none;
					transition: 300ms;
					border-radius: 1rem;
					background-color: var(--white);
					box-shadow: 1px 1px 8px 1px rgba(100, 100, 100, 0.2);
					color: var(--primary);
					h4{
						font-size: 1.3rem;
						font-weight: 400;
					}
					&:hover {
						background-color: var(--primary);
						*{
							color: var(--primary-contrast);
						}
					}
				}
				img {
					transition: 200ms;
					width: 80%;
					height: 80%;
					margin: 0px 0px;
					object-fit: contain;
					object-position: center;
				}
			}
		}
	}

	.poster-filter-container{
		.tags{
			margin-bottom: 2rem;
			gap: 1rem;
			.poster-filter-title{
				margin: 0;
			}
			.tag{
				background-color: var(--light);
				color: var(--light-contrast);
				text-transform: capitalize;
				font-size: 1rem;
				margin: 0;
				cursor: pointer;
				.checked-icon{
					display: none;
					font-size: 1.2rem;
				}
				&.active{
					background-color: var(--primary);
					color: var(--primary-contrast);
					.checked-icon{
						display: unset;
					}
				}
			}
		}
	}
}
