.sponsor-logo-container {
	border-radius: 0.5rem;
	overflow: hidden;
	margin: 1rem;
	line-height: 0;
	.sponsor-logo {
		width: 100%;
		height: fit-content;
	}
	.sponsor-logo-overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.7);
		opacity: 0;
		transition: 500ms;
		&:hover {
			opacity: 1;
		}
	}
}

.sponsor-logo-modal {
	z-index: 99999999;
    .modal-background{
        cursor: pointer;
    }
	.modal-content {
		width: 90%;
		.image {
			text-align: center;
			justify-content: center;
			align-items: center;
			display: flex;
			.sponsor-logo {
				display: block;
				height: auto;
				width: 100%;
				object-position: center;
				object-fit: contain;
				max-width: fit-content;
			}
		}
	}
}
