$itemHeight: 144px;
.content_sponsor_container {
	.sponsor_title{
		padding: 1rem;
	}
	.sponsors {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		.sponsor_item {
			background-color: transparent;
			width: 33.33%;
			height: auto;
			min-width: min(300px, 100%);
			min-height: $itemHeight;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			text-align: center;
			padding: 1rem;
			&.hide{
				display: none;
			}

			.sponsor_item_link {
				width: 100%;
				height: 100%;
				background-color: var(--white);
				box-shadow: 1px 1px 8px 1px rgba(100, 100, 100, 0.2);
				border-radius: 12px;
				a {
					display: flex;
					flex-direction: column;
					width: 100%;
					height: 240px;
					min-height: 240px;
					padding: 1rem;
					flex-shrink: 0;
					flex-grow: 0;
					justify-content: space-between;
					align-items: center;
					text-decoration: none;
					&:hover {
						img, h4 {
							width: 90%;
							height: 120px;
							margin: 0;
						}
					}
					.sponsor_item_button {
						position: relative;
						bottom: 0rem;
						padding: 0.5rem 2rem;
						margin: 1rem 0rem;
						background-color: var(--primary);
						color: var(--primary-contrast);
						border-radius: 99px;
					}
				}
				img, h4 {
					transition: 200ms;
					width: 80%;
					height: 120px;
					margin: 20px 0px;
					margin-bottom: auto;
					object-fit: contain;
					object-position: center;
				}
				.sponsor_item_desc{
					display: none;
				}
			}
			@include until(400px){
				width: 100%;
			}
			@include mobile{
				width: 100%;
			}
			@include from($tablet) {
				width: 50%;
			}
			@include from($desktop) {
				width: 33.33%;
			}
			@include from($widescreen) {
				width: 33.33%;
			}
			
		}
	}

	.sponsor-filter-container{
		.tags{
			margin-bottom: 2rem;
			gap: 1rem;
			.sponsor-filter-title{
				margin: 0;
			}
			.tag{
				background-color: var(--light);
				color: var(--light-contrast);
				text-transform: capitalize;
				font-size: 1rem;
				margin: 0;
				cursor: pointer;
				.checked-icon{
					display: none;
					font-size: 1.2rem;
				}
				&.active{
					background-color: var(--primary);
					color: var(--primary-contrast);
					.checked-icon{
						display: unset;
					}
				}
			}
		}
	}
}