.countdown {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center !important;
    top: 0px !important;

    .countdown__item {
        display: flex;
        flex-direction: column;
        padding: 0px;
        justify-content: center !important;
        align-items: center !important;
        margin: 1rem;
        font-size: 2rem;
        
        .countdown__item__bottom {
            font-size: 1rem;
        }
    }

    @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center !important;
        top: 0px !important;

        .countdown__item {
            display: flex;
            flex-direction: column;
            padding: 0px;
            justify-content: center !important;
            align-items: center !important;
            margin: 1rem;

            .countdown__item__bottom {
                font-size: 12px;
            }
        }
    }
}