@import '../../Sass/streamgo/variables.scss';

.ca-container{
    padding: 1rem;
    .empty-message{
        display: none;
        font-size: 1rem;
        background-color: transparent;
        color: #ddd;
        text-align: center;
    }
    &.empty{
        .empty-message{
            display: block;
        }
    }
}
.ca-item{
    .ca-button{
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        appearance: none;
        font-size: inherit;
        cursor: pointer;
        &.ca-button-remove{
            display: none;
        }
    }
    &:not(.glide__slide){
        .agenda-item-presenters, .agenda-item-thumbnail{
            display: none;
        }
    }

    &.added{
        .ca-button-remove{
            display: inline-flex;
        }
        .ca-button-add{
            display: none;
        }
    }
}
.ca-item-clone{
    list-style: none;
    background-color: #555;
    padding: 1rem;
    width: 100%;
    border-radius: .5rem;
    position: relative;
    color: #eee;
    .agenda-item-times{
        margin-bottom: 0.5rem;
    }
    .agenda-item-content{
        display: none;
    }
    .agenda-item-title{
        text-decoration: none;
    }
    .close-btn{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .ca-ae{
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-top: 1rem;
        .ca-ae__desc{
            margin-right: auto;
        }
        .ca-ae__button{
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 4px;
            color: var(--medium);
            text-decoration: none !important;
            transition: 500ms;
            &:hover{
                color: var(--primary);
            }
        }
    }
}
