@-webkit-keyframes skeletonAnimation {
	0% {
		background-position: 93% 0%;
	}
	50% {
		background-position: 0% 100%;
	}
	100% {
		background-position: 93% 0%;
	}
}
@-moz-keyframes skeletonAnimation {
	0% {
		background-position: 93% 0%;
	}
	50% {
		background-position: 0% 100%;
	}
	100% {
		background-position: 93% 0%;
	}
}
@keyframes skeletonAnimation {
	0% {
		background-position: 93% 0%;
	}
	50% {
		background-position: 0% 100%;
	}
	100% {
		background-position: 93% 0%;
	}
}

.event-details-container {
	padding: 1rem;
	.event-details {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: start;
		column-gap: 0.5rem;

		.event-details__item {
			width: max(33.33%, 256px);
			display: flex;
			flex-direction: column;
			flex-grow: 1;

			&:last-of-type {
				border-right: 0px;
			}
			&.event-details__item__time {
				border-color: var(--light);
				border-style: solid;
				border-width: 0px;
				border-left-width: 1px;
				border-right-width: 1px;
				padding: 0rem 0.5rem;
			}
			&.event-details__item__duration{
				.event-details_content{
					text-transform: capitalize;
				}
			}

			.event-details_label {
				margin-bottom: 0.5rem;
				font-weight: 600;
				color: var(--medium);
			}
			.event-details_content {
				display: flex;
				font-weight: 300;
				font-size: max(1.4rem, 1.5vw);
				.skeleton {
					display: block;
					width: 100%;
					height: 1.5rem;
					border-radius: 0.3rem;
					transition: 300ms;
					background: linear-gradient(217deg, var(--light), var(--white));
					background-size: 400% 400%;

					-webkit-animation: skeletonAnimation 1s ease infinite;
					-moz-animation: skeletonAnimation 1s ease infinite;
					animation: skeletonAnimation 1s ease infinite;
				}
			}
		}

		@include mobile {
			flex-direction: column;

			.event-details__item {
				width: 100%;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				border-right: 0px;
				margin-bottom: 0;
				padding: 0.5rem;
				border-bottom: solid 1px var(--light);

				&.event-details__item__time {
					border-color: var(--light);
					border-style: solid;
					border-width: 0px;
					border-left-width: 0px;
					border-right-width: 0px;
					border-bottom-width: 1px;
					// padding-left: 0.5rem;
				}

				.event-details_label {
					margin-bottom: 0;
				}
			}
		}
	}
}

.skeleton {
	display: block;
	width: 100%;
	height: 1.5rem;
	border-radius: 0.3rem;
	transition: 300ms;
	background: linear-gradient(217deg, var(--light), var(--white));
	background-size: 400% 400%;

	-webkit-animation: skeletonAnimation 1s ease infinite;
	-moz-animation: skeletonAnimation 1s ease infinite;
	animation: skeletonAnimation 1s ease infinite;
}