.ws-alert.alert {
    position: fixed;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    flex-direction: column-reverse;
    .content {
        display: flex;
        padding: 2rem;
        font-size: 1.2rem;
        background-color: var(--bg-color);
        color: var(--font);
        border-radius: 1rem;
        max-width: 90%;
        max-height: calc(80% - 6rem);
    }
    .close {
        margin-top: 1rem;
        padding: 0.5rem 2rem;
        background-color: var(--primary);
        color: var(--primary-contrast);
        border-radius: 99px;
        transition: 300ms;
        cursor: pointer;
        &:hover{
            background-color: var(--medium);
            color: var(--primary);
        }
    }
}