.site-foot {
	display: flex;
	flex-direction: column;
	margin-top: 0vh;
	background-color: var(--primary);
	color: var(--primary-contrast);
	.inner {
		width: 100%;
	}
	.footer-content {
		padding: 2rem 1rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		p{
			font-size: 0.9rem;
			color: inherit;
		}
		.logo{
			height: auto;
			width: 15%;
		}
	}
	svg{
		width: 100%;
		height: 100%;
		path:first-of-type{
			opacity: 0.1;
		}
		path:nth-child(2){
			opacity: 0.12;
		}
		path:nth-child(3){
			opacity: 0.18;
		}
		path:nth-child(4){
			opacity: 0.33;
		}
	}
	svg#sg-logo-svg {
		width: auto;
		height: 18px;
		margin-left: 0.5rem;
		path{
			opacity: 1 !important;
			fill: var(--primary-contrast);
		}
	}
}
