:root {
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	// color: var(--font);
}

strong, b {
    font-weight: bolder;
}

body {
	margin: auto;
	padding: 0;
	background-color: var(--bg-color);
	color: var(--font);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

ul {
    margin-left: 0.5rem;
    padding-left: 1rem;
}

main {
	margin: 0px;
	width: 100%;
	margin-bottom: auto;
	display: block;
}

.drawer-container {
	width: 0px;
	height: 0px;
	position: fixed;
	right: 0vw;
	top: 25vh;
	transition: 300ms;

	&.open {
		right: 30vw;
	}

	.trigger {
		width: 48px;
		height: 48px;
		background-color: #4466ff;
		position: absolute;
		right: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #eee;
		cursor: pointer;
	}

	.drawer {
		width: 30vw;
		height: 50vh;
		background-color: #eee;
		overflow: auto;
		box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
	}
}

$colorVarations: (
	"primary",
	"secondary",
	"alternate",
	"warning",
	"light",
	"medium",
	"dark",
	"font",
	"white",
	"black"
);

@mixin varationText($varName) {
	color: var(--#{$varName});
}

@mixin varationClass($varName) {
	border-color: transparent;
	background-color: var(--#{$varName});
	color: var(--#{$varName}-contrast);

	&:hover {
		border-color: transparent;
		background-color: var(--#{$varName});
		color: var(--#{$varName}-contrast);
	}
}

@mixin color-varations-classes {

	@each $colorVaration,
	$i in $colorVarations {
		&.#{$colorVaration} {
			@include varationClass($colorVaration);
		}
	}
}

@mixin color-varations-text {

	@each $colorVaration,
	$i in $colorVarations {
		&.#{$colorVaration} {
			@include varationText($colorVaration);
		}
	}
}

p {
	@include color-varations-text;
}

.button {
	text-decoration: none;
	transition: 500ms;
	@include varationClass("primary");
	@include color-varations-classes;
}

.tag {
	@include varationClass("light");
	@include color-varations-classes;
}

.fluid {
	max-width: 100%;

	.inner {
		width: 100%;
		max-width: 1440px;
		margin: auto;
		padding: 1rem;
	}
}

.columns {
	.column {
		&:last-of-type:not(:first-of-type) {
			@extend .is-two-fifths-desktop;
		}
	}
	@include until($desktop){
		display: flex;
		flex-direction: column;
	}
}

$headings: (
	"1",
	"2",
	"3",
	"4",
	"5",
	"6"
);

@each $heading,
$i in $headings {
	h#{$heading} {
		@extend .title;
		@extend .is-#{$heading};
		font-weight: 600;
		color: var(--primary);
		@include color-varations-text;
	}
}

p {
	font-size: 1rem;
}

.title-wrapper {
	margin: 1rem 0 2rem 0;
	padding: 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 !important;
		padding: 0 !important;
		text-transform: uppercase;
		font-weight: bold;
	}

	.title-undeline {
		margin-top: 8px;
		background-color: var(--medium);
		display: flex;
		width: 2rem;
		height: 0.3rem;
	}
}

.watch-live-banner {
	position: fixed;
	z-index: 999999;
	background-color: var(--danger);
	width: 100%;
	height: 46px;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: white;
	text-decoration: none;

	a {
		color: white;
		text-decoration: none;
		margin: auto;
		line-height: 46px;
	}
}
#primary-video.videoGoPlayer{
	margin-top: 24px;
  	height: unset;
	box-sizing: content-box;
}

#myVideo.fullscreen-video {
	position: absolute;
	width: 100%;
	height: auto;
}

.discover-go-embed-container{
	margin-top: 1rem;
	max-width: 100%;
	height: 480px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: var(--light);
    border-radius: 0.5rem;
	box-sizing: border-box;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	.dg_widget_switch > div.selected {
		background-color: var(--primary);
		border-color: var(--primary);
		color: var(--primary-contrast);
		font-weight: bold;
		cursor: default;
	}
}

.widget-drawers{
	.discover-go-embed-container{
		background-color: var(--primary-contrast);
		*{
			color: var(--font);
		}
		.disover-go-embed-title{
			color: var(--primary);
		}
		.dg_widget_switch > div.selected {
			background-color: var(--primary);
			border-color: var(--primary);
			color: var(--primary-contrast);
			font-weight: bold;
			cursor: default;
		}
	}
}

#content-iframe.content-iframe{
	border: 0;
}

#video-section{
	z-index: 999;
}