main{
    display: grid !important;
    grid-template-columns: [parent-start] 1fr [parent-main-start] 800px [parent-side-start] 400px [parent-side-end] 1fr [parent-end];
    & > .main-section{
        grid-column: parent-start/parent-end;
        display: grid;
        grid-template-columns: [start] 1fr [main-start] 800px [side-start] 400px [side-end] 1fr [end];
        // grid-template-rows: repeat(auto-fill, 48px);
        grid-auto-rows: minmax(min-content, max-content);
        // grid-template-areas: "banner banner banner banner" ". main side .";
        & > section{
            grid-column: main-start/side-start;
        }
    }
}
#banner{
    grid-column: start/end;
}
#login{
    
}
