.site-head {
	z-index: 9999;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: var(--white);
	color: var(--white-contrast);
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
	width: 100%;

	&.sticky {
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 999999;
		transition-duration: 500ms;
		transition-property: top;
	}

	.inner {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		.site-head__sponsors-container {
			width: min(40%, 256px);
			height: auto;
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: left;
			}
			.site-head__sponsors-by-text {
				font-size: 0.7rem;
				margin-bottom: 4px;
			}
			.site-head__sponsors {
				margin-right: 1rem;
				margin-left: auto;
				width: 100%;
				height: 36px;
				display: flex;
				flex-direction: column;
				position: relative;
				overflow: hidden;
				&.float-right {
					margin-left: auto;
				}
				.site-head__sponsors__track {
					display: flex;
					flex-direction: column;
					width: 100%;
					height: 100%;
					transition: 500ms;
					top: 0;
					.site-head__sponsor-link {
						width: 100%;
						height: 100%;
						position: relative;
						img {
							width: 100%;
							height: 100%;
							object-fit: contain;
							object-position: left;
						}
					}
				}
			}
			&.float-right {
				margin-right: 1rem;
				margin-left: auto;
				img {
					object-position: right;
				}
				.site-head__sponsors-by-text {
					text-align: end;
				}
				.site-head__sponsors {
					.site-head__sponsors__track {
						.site-head__sponsor-link {
							img {
								object-position: right;
							}
						}
					}
				}
			}
			@include until($desktop) {
				margin-right: 1rem;
				margin-left: auto;
				.site-head__sponsors-by-text {
					text-align: end;
				}
				.site-head__sponsors {
					.site-head__sponsors__track {
						.site-head__sponsor-link {
							img {
								object-position: right;
							}
						}
					}
				}
			}
		}
	}

	.primary-menu__toggle {
		@include until($desktop) {
			display: flex;
		}

		display: none;
		appearance: none;
		border: 0px;
		cursor: pointer;
		padding: 1rem;
		background-color: inherit;
		color: inherit;
	}

	.logo-container {
		padding: 1rem;
		width: min(40%, 300px);
		display: flex;
		justify-content: flex-start;
		align-items: center;
		a {
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
		img {
			width: 100%;
			height: auto;
			max-height: 5rem;
			object-fit: contain;
			object-position: center;
		}
	}

	.primary-menu {
		display: flex;
		width: fit-content;
		margin-left: auto;

		ul {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: end;
			align-items: center;

			li {
				list-style: none;

				&.closeBtn {
					display: none;
					cursor: pointer;
				}

				a {
					display: block;
					padding: 0.5rem 1rem;
					transition: 300ms;
					text-decoration: none;
					color: var(--white-contrast);
					text-transform: uppercase;
					font-weight: 600;
					text-align: center;
					width: min-content;
				}

				&.active {
					& > a {
						background-color: var(--primary);
						color: var(--primary-contrast);
					}
				}

				&:hover {
					& > a {
						color: var(--primary-shade);
					}
				}

				.sub-menu-container {
					display: none;
					position: absolute;
					top: 100%;
					left: 0px;
					width: max-content;
					flex-direction: column;
					background-color: var(--white);
					box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);

					a {
						display: block;
						padding: 1rem;
						background-color: var(--white);
						transition: 300ms;
						border-radius: 0px;

						&:hover {
							background-color: var(--primary-tint);
							color: var(--primary-contrast);
						}
					}
				}

				&:hover {
					.sub-menu-container {
						display: flex;
					}
				}

				&:last-of-type {
					.sub-menu-container {
						left: unset;
						right: 0rem;

						a {
							text-align: end;
						}
					}
				}
			}
		}

		@include from($desktop) {
			display: flex !important;
		}

		@include until($desktop) {
			position: fixed;
			width: 100%;
			height: 100vh;
			top: 0px;
			left: 0%;
			z-index: 999999;
			display: none;

			.overlay {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100vh;
				background: rgba(0, 0, 0, 0.5);
				transition-property: opacity;
				transition-duration: 500ms;
				opacity: 0;
			}

			ul {
				flex-direction: column;
				width: 70%;
				left: -70%;
				padding: 1px;
				background-color: var(--white);
				box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
				justify-content: flex-start;
				align-items: flex-start;
				transition-duration: 500ms;
				transition-property: left;

				li {
					width: 100%;
					display: block;

					a {
						padding: 1rem;
						margin-right: 0px;
						border-radius: 0;
						transition: 300ms;
						text-decoration: none;
						display: block;
						color: var(--white-contrast);
					}

					&.closeBtn {
						display: flex;
						justify-content: end;
						flex-direction: row;

						span.closeIcon {
							padding: 1rem;
						}
					}

					.sub-menu-container {
						display: flex;
						position: relative;
						top: 0%;
						left: 0px;
						width: 100%;
						box-shadow: none;
						li {
							padding-left: 1rem;
						}
					}
					&:last-of-type {
						.sub-menu-container {
							display: flex;
							position: relative;
							top: 0%;
							left: 0px;
							width: 100%;
							box-shadow: none;
							li {
								padding-left: 1rem;
							}

							a {
								text-align: start;
							}
						}
					}
				}
			}

			&.open {
				opacity: 1;

				.overlay {
					opacity: 1;
				}

				ul {
					left: 0px;
				}
			}
		}
	}
}
