/*** Poll Styles ***/

.form-container,
.poll {
    position: relative
}

.poll {
    position: fixed;
    bottom: 0;
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    top: 0;
    left: 0;
    color: inherit;
    background: rgb(101, 101, 101);
    background: rgba(0, 0, 0, 0.7);
    z-index: 999999;
    justify-content: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    -webkit-box-shadow: 0 0 25px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 5%);
    font-size: 100% !important;
    padding: 0 1rem;
}

.poll form {
    width: 80%;
    max-width: 800px;
    height: fit-content;
    max-height: 80%;
    position: relative;
    top: 0;
    padding: 2rem 2rem 3rem 2rem;
    overflow-y: auto;
    background: white;
    color: #333;
    border-radius: 1rem;
    box-shadow: 0px 0px 48px #000;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.poll__form-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.poll form:after,
.poll form:before {
    content: "";
    display: table
}

.poll input[type=radio] {
    display: inline-block;
    width: 24px;
    height: 16px;
    flex-shrink: 0;
}

.poll label {
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    float: left;
    display: block;
    width: 100%;
    color: inherit;
    padding: 0.5rem;
}

.poll .close {
    position: absolute;
    background-image: url(https://sg-template-assets.s3.eu-west-2.amazonaws.com/alert-close.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    filter: brightness(2);
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 999;
}

.poll h2 {
    color: #fff;
    width: 100%;
    display: block;
    padding: 0px;
    font-size: 1.5rem !important;
}

.poll .poll__inputs label {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
}

.poll .poll__inputs input[type=text],
.poll .poll__inputs textarea {
    width: 100%;
    font-size: 1rem;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    padding: 6px;
    border: 1px solid #888;
}

.poll .poll__inputs textarea {
    height: 96px;
    max-height: 40vh;
}

.poll .labelTitle {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 20px;
    /* text-align: center; */
}

.poll button {
    font-size: 1rem;
    appearance: none;
    outline: none;
    border: none;
    padding: 12px;
    margin-top: 24px;
    width: 100%;
    min-width: 250px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    background-color: var(--primary) !important;
    color: var(--primary-contrast) !important;
    transition: 300ms;

    &:hover {
        background-color: var(--primary-tint) !important;
    }
}

.apexcharts-legend-series span {
    color: #fff !important;
    font-size: 1.8rem !important;
}

.poll .result-container {
    width: 100%;
    height: 540px;
    max-height: 80%;
    max-width: 800px;
    background: #345;
    padding: 2rem;
    border-radius: 12px;
}

.poll-results__chart {
    width: 100%;
    min-height: 50% !important;
    height: calc(100% - 120px);
}

@media(min-width: 960px) {
    .poll {
        /* padding: 0 3rem; */
    }

    .poll button {
        /* width: 30%; */
    }
}

@media(max-width: 600px) {
    .poll form {
        width: calc(100vw - 24px);
        height: 90%;
        max-width: calc(100vw - 24px);
        max-height: calc(100vh - 24px);
    }

    .poll .result-container {
        width: calc(100vw - 24px);
        height: 90%;
        max-width: calc(100vw - 24px);
        max-height: calc(100vh - 24px);
    }
}

.poll__form {
    .poll__inputs {
        margin: 1rem 0rem;

        label {
            padding: 0.5rem;
        }
    }
}