.presenters-container {
	margin: 1rem;
	.presenters-title {
		margin-bottom: 1rem;
	}
	.presenters {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		// grid-template-columns: repeat(auto-fill, 200px);
		grid-auto-rows: auto;
        gap: 2rem;

		.presenter {
			width: auto;
			max-width: 204px;
			display: flex;
			flex-direction: column;
			margin: 0px auto;
			margin-bottom: 1rem;
			justify-content: start;
			align-items: center;
			.presenter-image{
				min-width: 204px;
				min-height: 204px;
				border-radius: 999px;
				overflow: hidden;
				img{
					transform-origin: center;
					transition: 300ms;
					&:hover{
						transform: scale(1.15);
					}
				}
			}
			.presenter-image,
			.presenter-details {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				img {
					width: 100%;
				}
			}
			.presenter-image img{
				border-radius: 999px;
			}
			.presenter-details__name {
				font-size: 1.3rem;
				margin-bottom: 0.2rem;
				margin-top: 0.8rem;
			}
			.presenter-details__subtitle {
				font-size: 1rem;
				&:last-of-type {
					padding-bottom: 1rem;
					margin-bottom: auto;
				}
			}
			.presenter-details__title {
				color: var(--dark);
				font: 400;
			}
			.presenter-details__bio-button{
				padding: 0.5rem;
				background-color: var(--light);
				color: var(--light-contrast);
				border: none;
				border-radius: 0.25rem;
				cursor: pointer;
				transition: 300ms;
				&:hover{
					background-color: var(--primary);
					color: var(--primary-contrast);
				}
			}
			.presenter-details__bio{
				display: none;
			}
		}
	}
}

body.isPage .presenters-container .title-wrapper{
	display: none;
}