.presenter-bio-modal-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999999;

    .overlay {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: 500ms;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .presenter-bio-modal {
        width: 620px;
        max-width: 90%;
        background-color: var(--white);
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        max-height: 70vh;
        transition: 500ms;
        top: 50vh;
        opacity: 0;

        .presenter-info {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .presenter-img {
                margin-right: 1rem;
                border-radius: 999px;
                width: 96px;
                height: 96px;
            }

            .presenter-name {
                margin-bottom: 0.5rem;
            }
        }

        .presenter-bio {
            margin-top: 2rem;
            max-height: 90%;
            height: min-content;
            overflow-y: auto;
        }

        .close-btn {
            position: absolute;
            top: 1rem;
            right: 1rem;
            width: 32px;
            height: 32px;
            background-color: var(--light);
            color: var(--light-contrast);
            box-shadow: 0px 0px 12px rgb(0 0 0 / 20%);
            border: 0px;
            border-radius: 99px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 300ms;
            cursor: pointer;

            &:hover {
                background-color: var(--light-contrast);
                color: var(--light);
            }
        }
    }

    &.active {
        .overlay {
            opacity: 1;
        }
        .presenter-bio-modal {
            opacity: 1;
            top: 0;
        }
    }
}