#permissionLB{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999999;

    #permissionLBOverlay{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        position: absolute;
        top: 0px;
        left: 0px;
    }

    #permissionLBContainer{
        max-width: 80%;
        width: 480px;
        background: var(--bg-color) !important;
        color: var(--font) !important;
        padding: 2rem;
        z-index: 999;

        #permissionLBText{
            margin-bottom: 1rem;
        }
    }

    #permissionBtn{
        cursor: pointer;
        outline: none !important;
        border: none !important;
        background: var(--primary) !important;
        padding: .6rem 2rem;
        color: var(--primary-contrast) !important;
    }
}