.hide {
	display: none;
}

#dynamic-questions-wrapper {
	display: flex;
	flex-direction: column;
	background: #eee;
	box-sizing: border-box;
	padding: 12px !important;
	max-height: 70vh;
	margin: 2rem 0rem;
	border-radius: 16px;
	box-shadow: inset 0px 0px 8px #ddd;
	font-size: 14px;
	overflow: auto;
	border: 1px solid #eee;
	@include until($desktop){
		margin: 2rem 1rem;
	}
}
.dynamic-questions-wrapper button {
	border-radius: 99px;
}
.dynamic-questions-postbox {
	box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.07);
	background: #fff;
	border-radius: 8px;
	box-sizing: border-box;
	padding: 12px;
	transition: 500ms;
}
.dynamic-questions-postbox .form__group textarea {
	min-height: 0px;
	transition: 500ms;
	border: none;
	resize: none;
	height: 22px;
	margin: 0px;
	padding: 0px 12px;
	width: 100%;
}
.dynamic-questions-postbox .form__group button {
	display: none;
	&:disabled{
		background-color: var(--light);
		color: var(--medium);
	}
}
.dynamic-questions-postbox.opened .form__group textarea {
	height: 80px;
}
.dynamic-questions-postbox.opened .form__group button {
	display: block;
}
.dynamic-questions-list {
	margin-top: 0.5rem;
}
.dynamic-question {
	display: flex;
	flex-direction: column;
	background: #fff;
	box-sizing: border-box;
	padding: 12px;
	border-radius: 8px;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.07);
	margin-bottom: 12px;
}
.dynamic-question .question-info,
.dynamic-question-reply .question-info {
	display: flex;
	flex-direction: row;
}
.dynamic-question .question-avatar,
.dynamic-question-reply .question-avatar {
	width: 36px;
	height: 36px;
	background: #ddd;
	border-radius: 99px;
	font-size: 18px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dynamic-question .question-info-text,
.dynamic-question-reply .question-info-text {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-evenly;
	margin-left: 12px;
}
.question-name {
	font-weight: bold;
}
.question-time {
	font-size: 12px;
	color: #888;
	padding-right: 0.5rem;
}
.question-report {
	font-size: 12px;
	color: #888;
	cursor: pointer;
	text-decoration: underline;
}
.question-meta {
	display: flex;
	align-items: center;
}
.dynamic-question .question-info .vote-form,
.dynamic-question-reply .question-info .vote-form {
	margin-left: auto;
}
.dynamic-question .vote-button,
.dynamic-questions-postbox .form__group button,
.dynamic-question-reply .vote-button,
.dynamic-questions-postbox .form__group button {
	padding: 4px 16px;
	font-size: 14px;
}
.dynamic-question .vote-button > *,
.dynamic-question-reply .vote-button > * {
	pointer-events: none;
}
.dynamic-question .vote-button:disabled,
.dynamic-question .vote-button:disabled:hover,
.dynamic-question-reply .vote-button:disabled,
.dynamic-question .vote-button:disabled:hover {
	padding: 2px 16px;
	font-size: 14px;
	color: #135 !important;
	box-sizing: border-box;
	border: 1px solid #fff;
	box-shadow: 0px 0px 0px 2px #d0d0d0;
}
.dynamic-question .question-title {
	margin-top: 12px;
	font-size: 14px;
	padding: 4px;
}
.dynamic-question .question-info, .dynamic-question-reply .question-info{
	margin-bottom: 1rem;
}
.toggle-question-order,
.toggle-question-order:focus {
	display: inline-block;
	width: auto;
	margin: 36px auto 12px 16px;
	font-size: 14px;
	padding: 6px 24px;
}
.dynamic-questions-postbox .form__group {
	margin: 0px;
}
.dynamic-questions-postbox .alert {
	font-size: 14px;
	border-radius: 8px;
	padding: 12px !important;
	margin: 12px;
	box-sizing: border-box;
	width: auto;
}
.dynamic-questions-postbox .word-count {
	text-align: right;
	margin: 12px;
	font-size: 11px;
	color: #999;
	display: none;
}
.dynamic-questions-postbox.opened .word-count {
	display: block;
}
.dynamic-questions-actions {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: baseline;
}
.dynamic-questions-actions.hide {
	display: none;
}
.dynamic-questions-count {
	color: #666;
	margin-right: 12px;
}
.dynamic-questions-list .noq {
	padding: 48px;
	display: block;
	font-size: 16px;
	text-align: center;
}

.report-modal-overlay {
	background: rgba(0, 0, 0, 0.25);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 50;
}
.report-modal-overlay--open {
	display: flex;
}
.report-modal {
	background: white;
	border-radius: 10px;
	max-width: 300px;
	width: 100%;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.07);
}
.report-modal__header {
	padding: 15px 15px 5px 15px;
}
.report-modal__body {
	padding: 5px 15px 15px 15px;
}
.report-modal__body button {
	margin-top: 10px;
}

.reply-toggle-container {
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.reply-toggle-container i {
	transform: rotate(180deg);
}

.reply-toggle {
	margin-left: 10px;
	cursor: pointer;
}

.dynamic-question-reply-container {
	border-top: 1px solid #eee;
	padding-top: 15px;
	margin-top: 15px;
}

.dynamic-question-replies {
	padding: 15px 0;
}

.dynamic-question-reply {
	padding-left: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
}

// styles for  normal questions
.question-container {
	padding: 1rem;
	background-color: var(--light);
	border-radius: 0.5rem;
	margin: 2rem 1rem;

	@include until($desktop){
		margin: 2rem 1rem;
	}

	h4 {
		color: var(--light-contrast);
	}

	#question-form {
		display: flex;
		flex-direction: column;
		.alert {
			padding: 0.5rem 0rem;
		}
		.form__group {
			display: flex;
			flex-direction: column;
			textarea#question, .question-textarea {
				resize: none;
				margin-bottom: 1rem;
				padding: 0.5rem;
				border-radius: 0.5rem;
			}
		}
	}
}

.question-replies-container {
	padding: 0rem;
	background-color: transparent;
	// margin-bottom: 2rem;

	h4 {
		color: var(--primary-shade);
	}
	.question-replies {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		&:not(.hide){
			margin-bottom: 2rem;
		}

		.question-reply {
			background-color: var(--light);
			color: var(--light-contrast);
			padding: 1rem;
			border-radius: 0.3rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
            p{
                line-height: 2rem;
                em{
                    color: var(--medium);
                }
            }
		}
	}
}
