.form-container {
	padding: 1rem;
	top: -107px;
	margin-bottom: -107px;
	.form-title {
		padding: 1rem;
		background-color: var(--primary);
		color: var(--primary-contrast);
		margin-bottom: 0px;
	}
	&.no-bg {
		.form-title {
			background-color: var(--medium);
			color: var(--light);
		}
	}
	.form {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		background-color: var(--light);
		color: var(--light-contrast);
		// gap: 1rem;
		* {
			color: inherit;
		}
		.button {
			border-color: rgba(0, 0, 0, 0);
			background-color: var(--primary);
			color: var(--primary-contrast);
		}
		p,
		.form__group {
			// margin: 1rem 0rem;
			a {
				color: var(--light-contrast);
			}
		}
		.reg-error {
		}
		.require-tip {
			color: red;
			margin: 0.5rem;
		}
		.form__group {
			display: flex;
			flex-direction: column;
			margin-bottom: 1rem;
			label {
				margin-bottom: 0.5rem;
				&.required {
					&::after {
						content: "*";
						color: red;
					}
				}
			}
			input,
			textarea,
			select {
				background-color: var(--light-tint);
				border-color: var(--light-shade);
				color: var(--light-contrast);
				&::placeholder {
					color: var(--light-shade);
				}
				width: 100%;
			}
			.checkboxes,
			.radios {
				display: flex;
				justify-content: start;
				flex-wrap: wrap;
				label {
					margin-right: 2rem;
				}
				.radio + .radio {
					margin-left: 0px;
				}
				label.radio {
					margin: 0.5rem 0rem;
					cursor: pointer;
					display: flex;
					line-height: 1.25;
					position: relative;
					gap: 0.5rem;
					flex-direction: row;
					flex-grow: 0;
					word-wrap: normal;
					width: 100%;
					align-items: baseline;
					justify-content: flex-start;
					input {
						width: fit-content !important;
					}
				}
			}
			.checkbox-wrapper {
				display: flex;
				width: 100%;
				padding: 0.3rem;

				.radio,
				.checkbox {
					cursor: pointer;
					display: flex;
					line-height: 1.25;
					position: relative;
					gap: 0.5rem;
					flex-direction: row;
					flex-grow: 0;
					word-wrap: normal;
					width: 100%;
					align-items: baseline;
					justify-content: flex-start;
					input {
						width: fit-content !important;
					}
				}
			}
			.price-tag{
				width: fit-content;
				font-size: 1rem;
			}
		}

		// .ticket-types__row{
		// 	.select2{
		// 		display: none;
		// 	}
		// }

		.cookie-policy {
			margin-bottom: 1rem;
			color: var(--medium);
		}
	}

	#resendPasscode {
		text-align: center;
		margin: 1rem;
	}
	.resendPasscodeBtn {
		margin: 0.5rem auto;
		text-align: center;
		padding: 0.2rem 2rem;
		background-color: var(--medium);
		color: #fff;
		align-self: center;
		border-radius: 99px;
		font-size: 0.8rem;
	}

	@media screen and (max-width: 1280px) {
	}
	@include until($desktop) {
		top: 0px;
		margin-bottom: 0px;
	}

	/* css for select2 generated select */
	$select2_height: 2.5rem;
	.select2-container {
		height: $select2_height;
		// margin-bottom: 1rem;
		.selection {
			height: $select2_height !important;
			.select2-selection {
				height: $select2_height !important;
				background: var(--light-tint) !important;
				border-color: var(--light-shade) !important;
				color: var(--font) !important;
				.select2-selection__rendered {
					height: $select2_height !important;
					display: flex !important;
					align-items: center !important;
					color: var(--font) !important;
				}
				.select2-selection__arrow {
					height: $select2_height !important;
				}
			}
		}
	}
}

.select2-dropdown {
	background-color: var(--light) !important;
	border: 1px solid var(--light-shade) !important;
	.select2-search {
		.select2-search__field {
			border: 0px solid transparent !important;
			background: transparent !important;
			color: var(--font) !important;
			outline: 0px solid transparent !important;
		}
	}

	.select2-results{
		.select2-results__options{
			.select2-results__option{
				&.select2-results__option--highlighted{
					background-color: var(--primary) !important;
					color: var(--primary-contrast) !important;
				}
				&[aria-selected=true]{
					background-color: var(--medium)!important;
					color: var(--medium-contrast) !important;
				}
			}
		}
	}
}