.ratings-container {
	padding: 0px 0px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
    z-index: 9;

    button {
        background: none;
        padding: 0.5rem;
        margin-top: 0.5rem;
        border-radius: 99px;
        border: none !important;
        outline: none !important;
        width: 42px;
        height: 42px;
        display: flex;
        box-sizing: border-box;
        position: relative;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        * {
            pointer-events: none;
        }
        &:focus {
            border: none !important;
            outline: none !important;
            box-shadow: none !important;
        }
        img {
            width: 100%;
            height: auto;
        }
        i {
            width: 14px;
            height: 14px;
            border-radius: 99px;
            background: #fff;
            color: green;
            position: absolute;
            bottom: 0px;
            right: -6px;
            display: none;
        }
        &.selected > i {
            display: block;
        }
        .ratings-tooltip{
            position: absolute;
            background: #eee;
            padding: 12px;
            padding-left: 0px;
            display: flex;
            top: 100%;
            color: #888;
            border-radius: 8px;
            transition: 300ms;
            transform: translateY(-12px);
            visibility: hidden;
            justify-content: center;
            flex-direction: row;
            .tooltip-arrow{
                width: 12px;
                height: 12px;
                background: #eee;
                position: relative;
                top: -16px;
                left: 48%;
                transform: rotate(45deg);
            }
            .rating-name{
                margin-right: 6px;
            }
            .rating-count{
                font-weight: bolder;
            }
        }
        &:hover{
            .ratings-tooltip{
                visibility: visible;
                transform: translateY(8px);
            }
        }
    }
}

.m-ratings-container {
	display: none;
	padding: 12px;
	flex-direction: column;
    .m-rating-btn {
        font-size: 12px;
        padding: 6px;
        border-radius: 99px;
        box-sizing: border-box;
        background: #eee;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        * {
            pointer-events: none;
        }
    }
    .btnText {
        margin-right: 12px;
    }
    .current-rating {
        width: 32px;
        height: 32px;
        border-radius: 99px;
        background: #fff;
        margin-right: 6px;
        img {
            width: 100%;
            height: auto;
        }
    }
}

.m-ratings-holders {
	display: none;
	flex-direction: column;
	background: #fff;
	box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid #f2f2f2;

    &.opened {
        display: flex;
    }
}

.m-ratings-holders-text {
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid #eee;
}

.m-ratings-holders-icons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding: 6px;
}

.m-rating-item-btn {
	width: 36px;
	height: 36px;
	cursor: pointer;
	display: flex;
	border: none;
	border-radius: 99px;
	padding: 0px;
	outline: none;

    img {
        width: 100%;
        height: auto;
    }
}

@include until($tablet){
	.ratings-container {
		display: flex;
	}

	.m-ratings-container {
		display: none;
	}
}