.share-widget{
    padding: 1rem;
    margin-bottom: 1rem;
    .share-widget__title{
        padding: 1rem;
        margin: 0;
    }
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        padding: 1rem;
        li{
            list-style: none;
            padding-right: 1rem;
            .share__button{
                width: 48px;
                height: 48px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: var(--primary);
                color: var(--primary-contrast);
                border-radius: 99px;
                font-size: 1.3rem;
                transition: 300ms;
                i{
                    transition: 200ms;
                    transform-origin: center;
                    transition-timing-function: ease;
                }
                &:hover{
                    background-color: var(--primary-tint);
                    i{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}