$iconSize: 4rem;

.resources-container {
    width: 100%;
    margin-bottom: 1rem;

    .resources-title {
        padding: 1rem;
        margin-bottom: 0.5rem;
    }

    .resources-downloads {
        padding: 1rem;
        padding-top: 0rem;
        display: flex;
        flex-direction: column;

        .resources-item {
            display: flex;
            width: 100%;
            text-decoration: none;
            transition: 300ms;
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
            border-radius: 0.5rem;
            padding: 1rem;
            margin-bottom: 1rem;
            font-size: 1.2rem;
            flex-direction: row;

            &:hover{
                background-color: var(--primary-tint);
                color: var(--primary-contrast);
            }

            .resource-icon {
                width: $iconSize;
                height: $iconSize;
                margin-right: 1rem;

                img {
                    width: $iconSize;
                    height: $iconSize;
                    object-fit: contain;
                    object-position: center;
                }
            }

            .resource-name {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
            }
        }
    }
}