/* Css for Social wall */
.social-feed-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	flex: 1;
	overflow: hidden;
}

.social-feed-container::before {
	background: transparent !important;
}

.social-feed-container .load-more-container {
	order: 3;
	height: 0px;
	z-index: 999;
	position: relative;
	display: none;
	bottom: 36px;
}

#loadMoreMessages {
	border-radius: 30px;
	box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
	padding: 10px 18px;
	background: var(--primary);
	color: var(--primary-contrast);
}

.social-feed__message-container {
	overflow-y: auto;
	padding: 2vw !important;
	height: 100%;
	max-height: none !important;
	display: flex;
	flex-flow: column-reverse;
	order: 2;
}

.social-feed__textarea-container .social-feed-messages {
	width: 100% !important;
	font-size: 14px;
	display: none;
	padding: 6px;
	margin: 0px;
	height: auto;
	line-height: 14px;
}

.social-feed__post {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5rem;
	max-width: 100%;
	min-width: 300px;
	background: white;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
	padding: 1rem;
	position: relative;
}

.social-feed__post .social-post__message {
	background: white !important;
	border-radius: 0px !important;
	color: initial !important;
	max-width: none !important;
}

.social-post__message__inner {
	padding: 0rem;
	font-size: 2.7vh;
}

.social-post__meta {
	position: static;
}

.social-post__meta,
.social-post__meta a {
	color: #aaa;
	font-size: 12px;
	padding: 1rem;
}

.social-post__meta__reply__count {
	padding: 4px 10px;
	background: #a99;
	color: white;
	border-radius: 99px;
}

.social-post__meta__reply {
	padding: 4px 10px;
	background: var(--primary);
	color: var(--primary-contrast);
	border-radius: 99px;
}

.social-feed-container__ratings-container {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}

.social-feed-container__ratings-container .ratings-item {
	width: 1rem;
	height: 1rem;
	margin: 0 !important;
}

.social-feed-ratings-container span.side-count {
	font-size: 1rem;
	padding: 0.5rem;
}

.social-feed-container__ratings-container .social-feed-ratings-container {
	margin-top: 0px !important;
}

.social-feed-container__ratings-container .social-feed-ratings-container>button>.tooltip {
	// filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
	right: 0px;
}

.social-feed-container__ratings-container .social-feed-ratings-container>button>.tooltip>.tooltip-arrow-container {
	position: absolute;
	right: 12px;
	top: 12px;
}

strong.social-post__name {
	color: var(--primary);
	font-size: 14px;
}

strong.social-post__name::after {
	content: ":";
}

.social-feed__post__replies>.social-feed__post {
	background-color: #eee;
	border-radius: 1rem;
	box-shadow: none;
}

.social-feed__post__replies>.social-feed__post .social-post__message {
	background-color: transparent !important;
}

.social-feed__post__replies>.social-feed__post .social-post__message__inner {
	padding: 0;
	font-size: 14px;
}

.social-feed__post__replies>.social-feed__post .social-post__meta,
.social-feed__post__replies>.social-feed__post .social-post__meta a {
	color: #888;
	font-size: 12px;
	padding: 0px;
}

.social-feed__post__replies>.social-feed__post .social-post__meta .dots {
	display: none;
}

.social-feed__post__replies .social-post__meta__reply__count {
	display: none;
}

.social-post__tools {
	display: none !important;
}

.social-wall-text-reply {
	padding: 1rem !important;
	background: #eee;
	border-radius: 1rem;
	width: 100%;
}

.social-wall-text-reply textarea {
	border: 0px;
	border-radius: 0.5rem;
}

// full container
.social-feed-container {
	display: flex;
	flex-direction: column;
	min-height: fit-content;
	flex: 1;
	overflow: hidden;
	padding: 1rem;

	// posts section
	.social-feed__message-container {
		display: flex;
		flex-flow: column-reverse;
		padding: 0 !important;
		order: 2;
	}

	.social-feed__post {
		position: relative;
		background-color: transparent;
		box-shadow: none;
		padding: 0;
		margin: 0;
		margin-bottom: 1rem;

		.social-post__message {
			background-color: var(--light) !important;
			border-radius: 1rem 1rem 0 0 !important;
			color: var(--light-contrast) !important;
			width: 100%;
			padding: 0rem;

			strong.social-post__name {
				display: block;
				color: #7e7e7e;
				font-size: 1.2rem;
				margin: 1rem;
			}

			strong.social-post__name::after {
				content: " - ";
			}

			.social-post__message__inner {
				margin: 1rem;
			}

			.social-post__media {
				margin: 0rem;

				img {
					max-width: 100% !important;
					width: 100%;
					border-radius: 0rem;
				}
			}
		}

		.social-post__meta {
			display: flex;
			align-items: center;
			width: 100%;
			background-color: var(--light);

			a {
				color: #757575;
				font-size: 1rem !important;
				padding: 1vh;
				position: absolute;
				bottom: 5px;
				left: 15px;

				.social-feed-ratings-container {
					justify-content: flex-start;
					align-items: center;

					button.rating-item {
						margin-bottom: 10px;
					}
				}
			}
		}

		.social-post__tools {
			display: none !important;
		}

		span.dots {
			padding: 0.3rem;
		}
	}

	// textarea section
	#main-textarea-container {
		position: relative;
		padding: 1rem;
		background: var(--light);
		border-radius: 0.5rem;
		width: 100%;
		margin: 0;
		margin-bottom: 1rem;
		order: 1;
	}

	.social-feed__textarea-container {
		border-top: none !important;
		margin: 0px;
		padding: 0px;

		&>div:not(.social-feed-messages):not(.emoji-picker__wrapper) {
			column-gap: 0.5rem;
		}

		.sfEmojiTrigger,
		.social-drag-drop button,
		.sfSendBtn {
			width: 2.5rem;
			height: 2.5rem;
			border: 0px;
			border-radius: 0.3rem;
			margin: 0px;
			background-color: var(--primary);
			color: var(--primary-contrast);
			display: flex;
			padding: 0.7rem;

			svg.icon {
				fill: var(--primary-contrast);
			}
		}

		.sfSendBtn:disabled {
			background-color: var(--light-shade);
			color: var(--medium);
			cursor: not-allowed;

			svg.icon {
				fill: var(--medium);
			}
		}

		textarea {
			border-radius: 0.3rem;
			font-size: 1.2rem;
			padding: 1rem;
			resize: none;
			border: 1px solid #ccc;
			box-shadow: inset 0px 4px 12px #f2f2f2;
		}

		.gif-container {
			width: 100%;

			.gif-search-form {
				input {
					padding: 0.5rem;
					border-radius: 0.3rem 0 0 0.3rem;
					border: 1px solid #ccc;
					border-right: 0px;
					box-shadow: inset 0px 4px 12px #f2f2f2;
					margin-right: 0 !important;
					width: 100%;
					font-size: 1rem;
					height: 2.5rem;
				}

				button {
					width: 2.5rem;
					height: 2.5rem;
					border: 0px;
					border-radius: 0 0.3rem 0.3rem 0;
					margin: 0px;
					background-color: var(--primary);
					color: var(--primary-contrast);
					display: flex;
					padding: 0.7rem;

					svg.icon {
						fill: var(--primary-contrast);
					}
				}
			}

			.gif-results-container {
				padding: 0.5rem;
				margin: 0px;
				position: absolute;
				width: 100%;
				height: fit-content;
				// min-height: 30vh;
				background-color: var(--white);
				box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
				display: none;
				grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
				grid-auto-rows: minmax(100px, 1fr);

				&+.gif-container__close {
					display: none;
					position: absolute;
					background: #fff;
					width: 2rem;
					height: 2rem;
					justify-content: center;
					align-items: center;
					left: 100%;
					top: 3rem;
					cursor: pointer;
					transition: 300ms;

					&:hover {
						background: var(--primary);
						color: var(--primary-contrast);
					}
				}

				&.gif-results-container--visible {
					display: grid;

					&+.gif-container__close {
						display: flex;
					}
				}

				.gif-result {
					border: 0px;
					width: 100%;
					height: auto;
					padding: 0.25rem;

					&.gif-result--selected {
						.material-symbols-outlined {
							position: absolute;
						}

						img {
							border: 0.5rem solid;
							border-color: var(--primary);
						}
					}
				}
			}
		}
	}

	.emoji-picker__wrapper {
		transform: none !important;
		inset: unset !important;
		top: 42px !important;
		right: 0px !important;
	}

	@include until($tablet) {
		padding: 0rem;

		#main-textarea-container {
			border-radius: 0rem;
			margin: 0rem;
		}

		.social-feed__post {
			border-color: var(--light);
			border-style: solid;
			border-radius: 0rem !important;
			border-width: 0px;
			border-top-width: 1px;

			.social-post__message {
				background-color: var(--bg-color) !important;
				padding: 0rem;
				// margin-top: 0.5rem;

				.social-post__media {
					padding: 1rem 2rem;

					img {
						border-radius: 0rem;
					}
				}
			}
			&:first-of-type{
				border-bottom-width: 1px;
			}
		}
	}
}

.social-feed__textarea-container.social-wall-text-reply {
    border-radius: 0 0 1rem 1rem;
    background: var(--light);
}