.sponsors-carousel {
	.sponsors-carousel-container {
        padding: 0px 6vw;
		.track {
			.slides {
				.sponsor_item {
					.sponsor_item_link {
						padding: 1rem;
						background-color: var(--light);
						border-radius: 0.5rem;
						width: 100%;
						height: 25vh;
						a {
							width: 100%;
                            height: 100%;
							display: flex;
                            gap: 1rem;
							flex-direction: column;
							justify-content: center;
							align-items: center;
                            text-decoration: none;
							img {
								width: 70%;
								height: 50%;
								object-fit: contain;
							}
                            h4{
                                text-decoration: none;
                            }
						}
					}
				}
			}
		}
	}

    .glide__arrows{
        position: absolute;
        width: 100%;
        height: 0px;
        top: 50%;
        left: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .glide__arrow {
            position: relative;
            border: none;
            border-radius: none;
            filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
            box-shadow: none;
            top: unset;
            left: unset;
            right: unset;
            transform: none;
            transition: 300ms;
            @include until($desktop){
                padding: 0px;
            }
    
            span {
                font-size: 64px;
                @include until($desktop){
                    font-size: 42px;
                }
            }

            &:hover{
                color: var(--primary);
                background: transparent;
            }
        }
    }

    .glide__bullets {
        position: relative;
        display: flex;
        bottom: 0rem;
        justify-content: center;
        padding: 1rem;
        .glide__bullet{
            background-color: var(--medium);
            &.glide__bullet--active {
                background-color: var(--primary);
            }
            &:hover, &:focus {
                border: 2px solid var(--primary);
                background-color: var(--medium);
            }
        }
    }

    .sponsors-carousel-btn-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        display: none;
    }
}
