@keyframes tooltipOpen {
	0% {
		opacity: 0;
		display: none;
	}
	1% {
		opacity: 0;
		display: flex;
	}
	100% {
		opacity: 1;
	}
}

.unified-widget {
	background-color: var(--secondary);
	min-height: 45px;
	z-index: 2;

	.inner {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0rem 1rem;
		position: relative;
	}

	.alerts-container {
		width: fit-content;
		max-width: 70%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		text-decoration: none;
		padding: 0.5rem 0rem;

		.alert {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			color: var(--secondary-contrast);
			cursor: pointer;
			opacity: 1;
			transition: 500ms;
			text-decoration: none;

			.alert-label {
				padding: 0.3rem 1rem;
				background-color: var(--secondary-contrast);
				color: var(--secondary);
				border-radius: 0.25rem;
				margin-right: 0.5rem;
				text-transform: uppercase;
			}

			.alert-content {
				max-width: min(40vw, 100%);
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				text-decoration: none;
			}

			&.live {
				animation-name: liveNow;
				animation-timing-function: ease;
				animation-duration: 1s;
				animation-iteration-count: infinite;
				animation-direction: alternate;
			}

			&:hover {
				opacity: 0.8;
				animation-name: none;

				.alert-content {
					text-decoration: underline;
				}
			}
		}
	}

	.widget-buttons {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		gap: 0.5rem;
		padding: 0.5rem 0rem;
		background-color: var(--secondary);
		margin-left: auto;

		.widget-toggle {
			display: none;
			width: 28px;
			height: 28px;
			justify-content: center;
			align-items: center;
			background-color: var(--secondary-contrast);
			color: var(--secondary);
			border: 0px;
			font-size: 14px;
			border-radius: 99px;
			transition: 500ms;
			cursor: pointer;

			.collapse-icon {
				display: none;
			}
		}

		.widget-button {
			width: 28px;
			height: 28px;
			display: none;
			justify-content: center;
			align-items: center;
			background-color: var(--secondary-contrast);
			color: var(--secondary);
			border: 0px;
			font-size: 14px;
			border-radius: 99px;
			transition: 500ms;
			cursor: pointer;

			&.show {
				display: inline-flex;
			}
			&.hide {
				display: none;
			}

			i {
				transition: 256ms;
				transform-origin: center;
				margin: 0;
				padding: 0;
				line-height: 0;
			}

			.uwToolTip {
				position: absolute;
				top: 120%;
				width: max-content;
				right: 50%;
				display: none;
				transition: 300ms;
				flex-direction: column;
				opacity: 1;
				justify-content: center;
				align-items: center;
				.arrow {
					width: 1rem;
					height: 1rem;
					background-color: var(--medium);
					left: 50%;
					top: 12px;
					transform: rotate(45deg);
					position: relative;
				}
				.tip {
					background-color: var(--medium);
					padding: 0.2rem 1rem;
					border-radius: 5rem;
					color: #fff;
					left: 50%;
				}
			}

			.uw-chatgo-notifications-container {
				display: none;
				position: absolute;
				top: 100%;
				margin-top: 0.5rem;
				background-color: #fff;
				color: #333;
				width: max-content;
				max-width: 220px;
				padding: 1rem;
				border-radius: 1rem;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.arrow {
					width: 1rem;
					height: 1rem;
					transform: rotate(45deg);
					position: absolute;
					top: -4px;
					background-color: white;
				}
				&.show {
					display: flex;
				}
			}

			&.active {
				.uw-chatgo-notifications-container {
					&.show {
						display: none;
					}
				}
			}

			&:hover {
				i {
					transform: rotate(-8deg) scale(1.2);
				}
				.uwToolTip {
					display: flex;
				}
			}
		}
	}

	.widget-drawers {
		position: fixed;
		width: 100%;
		max-width: 550px;
		top: 0px;
		left: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		z-index: 9999999;

		.widget-drawer {
			position: absolute;
			margin: 1rem;
			background-color: rgba(0, 0, 0, 0.8);
			background-blend-mode: overlay;
			border-radius: 2rem;
			padding: 2rem;
			width: 100%;
			height: fit-content;
			max-height: calc(90vh - 4rem);
			min-height: fit-content;
			overflow-y: auto;
			left: 0px;
			top: 4rem;
			transition: 300ms;
			backdrop-filter: blur(6px);

			&.active {
				left: calc(-100% - 3rem);
			}

			.drawer-title {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				.closeBtn {
					cursor: pointer;
					width: 32px;
					height: 32px;
					display: flex;
					justify-content: center;
					align-items: center;
					transition: 300ms;
					transform-origin: center;
					border-radius: 99px;

					&:hover {
						transform: rotate(90deg);
						background-color: var(--primary);
						color: var(--primary-contrast);
						padding: 0.25rem;
					}
				}
			}

			.drawer-desc {
				margin-bottom: 1rem;
				color: white;
				* {
					color: white;
				}
			}

			.drawer-content {
				width: 100%;
				height: fit-content;
				color: #eee;

				&.iframe {
					border-radius: 0.4rem;
					overflow: hidden;
				}

				ol,
				ul {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;

					li {
						list-style: none;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: flex-start;
						align-items: flex-start;
						background-color: #333;
						padding: 1rem;
						border-radius: 0.5rem;
						gap: 0.5rem;
					}
				}

				.my-score-item {
					margin: 1rem 0rem 2rem 0rem;
					background-color: var(--primary);
					color: var(--primary-contrast);
					padding: 1rem;
					border-radius: 0.5rem;
					display: flex;
					justify-content: space-between;
				}

				.leaderboard-list {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
					margin: 0;
					padding: 0;

					.leaderboard-item {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: flex-start;
						background-color: #333;
						padding: 1rem;
						border-radius: 0.5rem;
						gap: 0.5rem;

						.leaderboard-item__badge {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 2.5rem;
							height: 2.5rem;
							border-radius: 99px;
							background-color: var(--medium);
							font-size: 1.9rem;
						}

						.name {
							margin-right: auto;
						}

						&:nth-child(1) {
							.leaderboard-item__badge {
								background-color: var(--warning);
							}
						}

						&:nth-child(2) {
							.leaderboard-item__badge {
								background-color: var(--primary);
							}
						}
					}
				}

				&.ca-container {
					padding: 0rem;
				}

				.dg_widget_switch {
					background-color: #fff;

					.selected {
						background-color: var(--primary);
						border-color: var(--primary);
						color: var(--primary-contrast);
					}
				}

				.dg_widget_result_container {
					background-color: #fff;
				}

				.drift-iframe {
					width: 100%;
					border: none;
					height: 480px;
					max-height: 100%;
				}
			}
		}
	}

	&.noCollapse {
		.widget-button[data-trigger="techSupport"] {
			width: fit-content;
			padding: 0.25rem 1rem;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			.button-text {
				margin-left: 0.5rem;
				display: inline-flex;
			}
		}
	}

	&.shouldCollapse {
		.widget-button[data-trigger="techSupport"] {
			.button-text {
				display: none;
			}
		}

		@include until($tablet) {
			.widget-buttons {
				position: absolute;
				left: 0rem;
				top: 0rem;
				justify-content: flex-start;
				width: 100%;
				gap: 1rem;
				transition: 500ms;
				padding: 0.5rem;

				.widget-toggle {
					display: inline-flex;
					margin-right: auto;
				}

				&.collapse {
					left: calc(100% - 3rem);
					.widget-toggle {
						background-color: var(--secondary-contrast);
						color: var(--secondary);
					}
					.collapse-icon {
						display: none;
					}
					.expand-icon {
						display: flex;
					}
				}

				&.expand {
					left: 0rem;
					.widget-toggle {
						background-color: var(--secondary);
						color: var(--secondary-contrast);
						font-size: 18px;
					}
					.collapse-icon {
						display: flex;
					}
					.expand-icon {
						display: none;
					}
				}
			}

			.widget-drawers {
				width: 100%;
				height: 100%;
				top: 0rem;
				.widget-drawer {
					width: 100%;
					height: 100%;
					max-height: 100%;
					top: 0rem;
					margin: 0rem;
					border-radius: 0rem;
					&.active {
						left: -100%;
					}
				}
			}
		}
	}
}

.uw-cpd-progress-container {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 2rem;
	gap: 0.5rem;
	.uw-cpd-progress-text {
		font-size: 1.2rem;
		display: flex;
		width: 100%;
		gap: 0.5rem;
		justify-content: flex-start;
		align-items: center;
		.uw-cpd-progress-progress {
			width: 100%;
			.uw-cpd-progress-detailed {
				display: flex;
				flex-direction: column;
				width: 100%;
				gap: 0.5rem;
				h4 {
					display: flex;
					flex-direction: column;
					gap: 1rem;
					width: 100%;
					justify-content: space-between;
				}
				.uw-cpd-badge {
					font-weight: 300;
					font-size: 1.3rem;
					background-color: var(--success);
					padding: 0.5rem 1rem;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					border-radius: 0.5rem;
					color: var(--success-contrast);
					&.in-progress {
						background-color: var(--medium);
						color: white;
					}
				}
				.card {
					padding: 1rem;
					background-color: #333;
					border-radius: 0.5rem;
					color: #eee;
				}
				small {
					font-size: small;
					color: #eee;
				}
				.you-shall-not-pass {
					padding: 1rem;
					background: var(--danger);
					color: var(--danger-contrast);
					border-radius: 0.5rem;
				}
			}
			&.skeleton{
				opacity: 0.1;
			}
		}
	}
	.uw-cpd-refresh-btn {
		background-color: var(--success);
		color: var(--success-contrast);
		border-radius: 99px;
		padding: 0.2rem;
		transition: 300ms;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&:hover {
			transform: rotate(180deg);
			background-color: var(--primary);
			color: var(--primary-contrast);
		}
	}
}

.uw-cpd-full-progress-btn {
	width: 100%;
}