#video-section {
  padding: 1rem;
}

.player-container {
    max-width: min(100%, 60vw);
    margin: auto;

    @include until($desktop) {
        max-width: 80%;
    }

    @include until($tablet) {
        max-width: 100%;
    }
}

.videoGoPlayer {
    border: 8px solid var(--white);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 30%);
}

.vjs-button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.vjs-big-play-button .vjs-icon-placeholder {
    width: 70px;
    height: 70px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    line-height: 70px;
    border-radius: 999px;
}

.videoGoPlayer .video-js {
    padding-top: 0px !important;
    width: 100%;
    height: 100% !important;
    position: absolute !important;
    top: 0;
}
.video-js .vjs-tech {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.vjs-control-bar{
  height: 32px !important;
}
.vjs-control-bar .vjs-control{
  height: 32px !important;
}
.vjs-control .vjs-button{
  justify-content: center;
  align-items: center;
}
.vjs-button > .vjs-icon-placeholder{
  display: flex !important;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}