.agenda-carousel {
    width: 100%;
    margin: auto;
    .carousel-container{
        padding: 0px 6vw;
    }

    .agenda-item {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 12px;
        cursor: grab;
    }

    .agenda-item-thumbnail {
        width: 100%;
        padding-top: 56.25%;
        position: relative;

        img {
            position: absolute;
            width: 100%;
            height: auto;
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            pointer-events: none;
        }
    }

    .agenda-item-times {
        margin: 12px;
    }

    .agenda-item-details {
        display: flex;
        flex-direction: column;
        margin: 12px;
    }
    .glide__arrows{
        position: absolute;
        width: 100%;
        height: 0px;
        top: 50%;
        .glide__arrow {
            border: none;
            border-radius: none;
            filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
            box-shadow: none;
    
            span {
                font-size: 64px;
                @include unitl($desktop){
                    font-size: 48px;
                }
            }
        }
    
        .glide__arrow--left {
            left: 0;
        }
    
        .glide__arrow--right {
            right: 0;
        }
    }
}