:root{
    --primary: #44bdb5;
    --secondary: #4466ff;
    --alternate: #883399;
    --white: #000;
    --light: #333;
    --medium: #888888;
    --dark: #ddd;
    --black: #fff;
    --success: green;
    --warning: #ccaa33;
    --danger: #dd6666;
    --font: #000000;
    --bg-color: #eee;
}