<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Template Assets Demo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="project-id" content="9527" />
	<meta name="project-url" content="https://staging.streamgo.dev/dev-demo" />
	<meta name="event-id" content="308">
	<meta name="csrf-token" content="QP4YCRXeAbcZrr1EgSxC7f9QmS1smDzhDHgENjKt">
	<link rel="icon" type="image/x-icon" href="/images/icon.png">
	<link href="./<%= htmlWebpackPlugin.options.libraryPath %>.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/9e3251888e.js" crossorigin="anonymous"></script>
</head>

<body class="">
	<header>
		<div class="inner">
			<h1 class="logo-container">Header</h1>
			<nav class="primary-menu">
				<ul>
					<li class="menu-item active">
						<a href="#" class="menu-link">Lobby</a>
					</li>
					<li class="menu-item">
						<a href="#" class="menu-link">Agenda</a>
					</li>
					<li class="menu-item">
						<a href="#" class="menu-link">Presenters</a>
					</li>
					<li class="menu-item">
						<a href="#" class="menu-link">Sponsors</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
		<!-- Agenda Page Fragments -->
		<section class="agenda-list">
			<h1>Agenda List</h1>
			<!-- <h2 class="agenda-list-title">Today</h2> -->
			<ul class="items" data-switches>
				<li id="10983" class="agenda-item" data-switch="1656633600000" data-start-time="1656633600000"
					data-end-time="1656682500000" data-title="Event Title 1" data-url="#url1" data-ca-source>
					<div class="agenda-item-times">
						<span class="agenda-item-time agenda-item-time__before"
							data-hide="1656682380000">
							1 July 2022 00:00</span>
						<span class="agenda-item-time agenda-item-time__now"
							data-show="1656682380000" data-hide="1656682500000" style="display: none;">Live NOW</span>
						<span class="agenda-item-time agenda-item-time__after"
							data-show="1656682500000" style="display: none;">Available OnDemand</span>
					</div>

					<div class="agenda-item-details">
						<a class="agenda-item-title" href="#">
							<h3 class="">Event Title 1</h3>
						</a>
						<p class="agenda-item-content">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat.
						</p>
						<br />
						<div data-ca-buttons></div>
					</div>
				</li>

				<li id="10984" class="agenda-item" data-switch="1657623600000" data-start-time="1657623600000"
					data-end-time="1657627200000" data-title="Event Title 2" data-url="#url2" data-ca-source>
					<div class="agenda-item-times">
						<span class="agenda-item-time agenda-item-time__before"
							data-hide="1657623600000">
							12 July 2022 11:00</span>
						<span class="agenda-item-time agenda-item-time__now"
							data-show="1657623600000" data-hide="1657627200000" style="display: none;">Live NOW</span>
						<span class="agenda-item-time agenda-item-time__after"
							data-show="1657627200000" style="display: none;">Available OnDemand</span>
					</div>

					<div class="agenda-item-details">
						<a class="agenda-item-title" href="#">
							<h3 class="title is-4">Event Title 2</h3>
						</a>
						<p class="agenda-item-content">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat.
						</p>
						<br />
						<div data-ca-buttons></div>
					</div>
				</li>

				<li id="10986" class="agenda-item" data-switch="1657630800000" data-start-time="1657630800000"
					data-end-time="1657634400000" data-title="Event Title 4" data-url="#url4" data-ca-source>
					<div class="agenda-item-times">
						<span class="agenda-item-time agenda-item-time__before"
							data-hide="1657630800000">
							12 July 2022 13:00</span>
						<span class="agenda-item-time agenda-item-time__now"
							data-show="1657630800000" data-hide="1657634400000" style="display: none;">Live NOW</span>
						<span class="agenda-item-time agenda-item-time__after"
							data-show="1657634400000" style="display: none;">Available OnDemand</span>
					</div>

					<div class="agenda-item-details">
						<a class="agenda-item-title" href="#">
							<h3 class="title is-4">Event Title 4</h3>
						</a>
						<p class="agenda-item-content">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat.
						</p>
						<br />
						<div data-ca-buttons></div>
					</div>
				</li>

				<li id="10985" class="agenda-item" data-switch="1657627200000" data-start-time="1657627200000"
					data-end-time="1657630800000" data-title="Event Title 3" data-url="#url3" data-ca-source>
					<div class="agenda-item-times">
						<span class="agenda-item-time agenda-item-time__before"
							data-hide="1657627200000">
							12 July 2022 12:00</span>
						<span class="agenda-item-time agenda-item-time__now"
							data-show="1657627200000" data-hide="1657630800000" style="display: none;">Live NOW</span>
						<span class="agenda-item-time agenda-item-time__after"
							data-show="1657630800000" style="display: none;">Available OnDemand</span>
					</div>

					<div class="agenda-item-details">
						<a class="agenda-item-title" href="#">
							<h3 class="title is-4">Event Title 3</h3>
						</a>
						<p class="agenda-item-content">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat.
						</p>
						<br />
						<div data-ca-buttons></div>
					</div>
				</li>
			</ul>
		</section>

		<!-- Agenda Carousel Fragments -->
		<section class="agenda-carousel">
			<h1>Agenda Carousels</h1>
			<div class="carousel-container glide">
				<div class="track glide__track" data-glide-el="track">
					<div class="slides glide__slides">
						<div class="agenda-item glide__slide">
							<a href="#" class="agenda-item-thumbnail">
								<img src="https://picsum.photos/1920/1080?random=1" alt="holder"
									class="agenda-carousel-preview-image" />
							</a>
							<div class="sg_showHide agenda-item-times agenda-item-times--before">
								<p>12:34</p>
							</div>
							<div class="agenda-item-details">
								<h3 class="agenda-item-title">
									<a href="#">Event Title</a>
								</h3>
							</div>
						</div>

						<div class="agenda-item glide__slide">
							<a href="#" class="agenda-item-thumbnail">
								<img src="https://picsum.photos/1920/1080?random=1" alt="holder"
									class="agenda-carousel-preview-image" />
							</a>
							<div class="sg_showHide agenda-item-times agenda-item-times--before">
								<p>12:34</p>
							</div>
							<div class="agenda-item-details">
								<h3 class="agenda-item-title">
									<a href="#">Event Title A Little Bit Long</a>
								</h3>
							</div>
						</div>

						<div class="agenda-item glide__slide">
							<a href="#" class="agenda-item-thumbnail">
								<img src="https://picsum.photos/1920/1080?random=1" alt="holder"
									class="agenda-carousel-preview-image" />
							</a>
							<div class="sg_showHide agenda-item-times agenda-item-times--before">
								<p>12:34</p>
							</div>
							<div class="agenda-item-details">
								<h3 class="agenda-item-title">
									<a href="#"
										title="Event Title Really really damn bloody long with some PHD guy has a super long name like Algorithmatichovic">Event
										Title Really really damn bloody long with some PHD
										guy has a super long name like Algorithmatichovic</a>
								</h3>
							</div>
						</div>

						<div class="agenda-item glide__slide">
							<a href="#" class="agenda-item-thumbnail">
								<img src="https://picsum.photos/1920/1080?random=1" alt="holder"
									class="agenda-carousel-preview-image" />
							</a>
							<div class="sg_showHide agenda-item-times agenda-item-times--before">
								<p>12:34</p>
							</div>
							<div class="agenda-item-details">
								<h3 class="agenda-item-title">
									<a href="#">Event Title</a>
								</h3>
							</div>
						</div>

						<div class="agenda-item glide__slide">
							<a href="#" class="agenda-item-thumbnail">
								<img src="https://picsum.photos/1920/1080?random=1" alt="holder"
									class="agenda-carousel-preview-image" />
							</a>
							<div class="sg_showHide agenda-item-times agenda-item-times--before">
								<p>12:34</p>
							</div>
							<div class="agenda-item-details">
								<h3 class="agenda-item-title">
									<a href="#">Event Title A Little Bit Long</a>
								</h3>
							</div>
						</div>

						<div class="agenda-item glide__slide">
							<a href="#" class="agenda-item-thumbnail">
								<img src="https://picsum.photos/1920/1080?random=1" alt="holder"
									class="agenda-carousel-preview-image" />
							</a>
							<div class="sg_showHide agenda-item-times agenda-item-times--before">
								<p>12:34</p>
							</div>
							<div class="agenda-item-details">
								<h3 class="agenda-item-title">
									<a href="#">Event Title Really really damn bloody long with some PHD
										guy has a super long name like Algorithmatichovic</a>
								</h3>
							</div>
						</div>

						<div class="agenda-item glide__slide">
							<a href="#" class="agenda-item-thumbnail">
								<img src="https://picsum.photos/1920/1080?random=1" alt="holder"
									class="agenda-carousel-preview-image" />
							</a>
							<div class="sg_showHide agenda-item-times agenda-item-times--before">
								<p>12:34</p>
							</div>
							<div class="agenda-item-details">
								<h3 class="agenda-item-title">
									<a href="#">Event Title</a>
								</h3>
							</div>
						</div>

						<div class="agenda-item glide__slide">
							<a href="#" class="agenda-item-thumbnail">
								<img src="https://picsum.photos/1920/1080?random=1" alt="holder"
									class="agenda-carousel-preview-image" />
							</a>
							<div class="sg_showHide agenda-item-times agenda-item-times--before">
								<p>12:34</p>
							</div>
							<div class="agenda-item-details">
								<h3 class="agenda-item-title">
									<a href="#">Event Title A Little Bit Long</a>
								</h3>
							</div>
						</div>

						<div class="agenda-item glide__slide">
							<a href="#" class="agenda-item-thumbnail">
								<img src="https://picsum.photos/1920/1080?random=1" alt="holder"
									class="agenda-carousel-preview-image" />
							</a>
							<div class="sg_showHide agenda-item-times agenda-item-times--before">
								<p>12:34</p>
							</div>
							<div class="agenda-item-details">
								<h3 class="agenda-item-title">
									<a href="#">Event Title Really really damn bloody long with some PHD
										guy has a super long name like Algorithmatichovic</a>
								</h3>
							</div>
						</div>

						<div class="agenda-item glide__slide">
							<a href="#" class="agenda-item-thumbnail">
								<img src="https://picsum.photos/1920/1080?random=1" alt="holder"
									class="agenda-carousel-preview-image" draggable="false" />
							</a>
							<div class="sg_showHide agenda-item-times agenda-item-times--before">
								<p>12:34</p>
							</div>
							<div class="agenda-item-details">
								<h3 class="agenda-item-title">
									<a href="#">Event Title</a>
								</h3>
							</div>
						</div>

						<div class="agenda-item glide__slide">
							<a href="#" class="agenda-item-thumbnail">
								<img src="https://picsum.photos/1920/1080?random=1" alt="holder"
									class="agenda-carousel-preview-image" />
							</a>
							<div class="sg_showHide agenda-item-times agenda-item-times--before">
								<p>12:34</p>
							</div>
							<div class="agenda-item-details">
								<h3 class="agenda-item-title">
									<a href="#">Event Title A Little Bit Long</a>
								</h3>
							</div>
						</div>

						<div class="agenda-item glide__slide">
							<a href="#" class="agenda-item-thumbnail">
								<img src="https://picsum.photos/1920/1080?random=1" alt="holder"
									class="agenda-carousel-preview-image" />
							</a>
							<div class="sg_showHide agenda-item-times agenda-item-times--before">
								<p>12:34</p>
							</div>
							<div class="agenda-item-details">
								<h3 class="agenda-item-title">
									<a href="#">Event Title Really really damn bloody long with some PHD
										guy has a super long name like Algorithmatichovic</a>
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>

		<!-- Custom Agenda Fragments -->
		<div class="drawer-container">
			<div class="trigger">
				<span class="material-symbols-outlined">event_available</span>
			</div>
			<div class="drawer" data-ca-container>

			</div>
		</div>
	</main>
	<footer>
		<div class="inner">
			<h1>Footer</h1>
		</div>
	</footer>
	<script>
		var caSettings = {
			addedCallback: () => {
				const drawerContainer = document.querySelector('.drawer-container');
				const drawerTrigger = drawerContainer.querySelector('.trigger');
				drawerContainer.classList.add('open');
			}
		}
	</script>
	<script src="./<%= htmlWebpackPlugin.options.libraryPath %>.js"></script>
	<script>
		window.addEventListener("load", () => {
			console.log("loaded");
			sgGlobal.testPing();

			const drawerContainer = document.querySelector('.drawer-container');
			const drawerTrigger = drawerContainer.querySelector('.trigger');
			drawerTrigger.addEventListener('click', () => {
				drawerContainer.classList.toggle('open');
			})
		});
	</script>
</body>

</html>