// icon fonts import
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css');
@import url('https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css');

@import './Sass/streamgo/variables.scss';

@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/elements/_all.sass';
@import 'bulma/sass/layout/_all.sass';
@import 'bulma/sass/form/_all.sass';
@import 'bulma/sass/grid/_all.sass';
@import 'bulma/sass/components/_all.sass';

@import './Sass/default/general.scss';
@import './Sass/default/animations.scss';

@import './Sass/default/banner.scss';
@import './Sass/default/countDown.scss';
@import './Sass/default/regForm.scss';
@import './Sass/default/eventDetails.scss';
@import './Sass/default/content.scss';
@import './Sass/default/presenters.scss';
@import './Sass/default/shareWidget.scss';
@import './Sass/default/calendarButtons.scss';
@import './Sass/default/socialWall.scss';
@import './Sass/default/header.scss';
@import './Sass/default/contentSponsors.scss';
@import './Sass/default/contentPostersList.scss';
@import './Sass/default/footer.scss';
@import './Sass/default/agendaCarousel.scss';
@import './Sass/default/sponsorsCarousel.scss';
@import './Sass/default/agendaList.scss';
@import './Sass/default/sidebarResources.scss';
@import './Sass/default/contentVideo.scss';
@import './Sass/default/contentChapters.scss';
@import './Sass/default/breakout.scss';
@import './Sass/default/presenterBioModal.scss';
@import './Sass/default/sentiments.scss';
@import './Sass/default/contentCertificate.scss';
@import './Sass/default/unified-widget-2.scss';
@import './Sass/default/customAgenda.scss';
@import './Sass/default/questions.scss';
@import './Sass/default/connection.scss';
@import './Sass/default/chatGoEmbed.scss';
@import './Sass/default/EventAlerts.scss';
@import './Sass/default/videoPlayer.scss';
@import './Sass/default/poll.scss';
@import './Sass/default/treasureHunt.scss';
@import './Sass/default/pushPermissionModal.scss';
@import './Sass/default/contentSponsorPage.scss';